body{
    font-family: 'Poppins', sans-serif;
    margin: 0;   
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
h1{
    font-size: 50px;
}

.color-orange{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 80px;
}
.half-wid{
    width: 50%;
    padding: 3%;
    margin-left: 40px;

}
.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(247, 171, 161),rgb(238, 99, 81));
    padding: 10px 40px;
    border-radius: 5%;
    font-weight: 700;
}
.half-wid img{
    width: 90%;
}

.dream-banner{
    padding: 2%;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}